<h2><%= t("proje_uyeleri") %></h2>
<table class="list">
  <thead>
    <tr>
      <th><%= t("uye") %></th>
    </tr>
  </thead>
  <tbody>
    <% @uyeler.each_with_index do |uye, i| %>
    <tr>
      <td class="<%= i % 2 == 0 ? 'odd' : 'even' %>"><%= uye %></td>
    </tr>
    <% end %>
  </tbody>
</table>
